/** @format */

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.read-more-less--more {
  color: #232ed1;
  display: block;

  border-radius: 8px;
  width: "30px";
}
.read-more-less--less {
  color: #232ed1;
  display: block;

  border-radius: 8px;
  width: "30px";
}
